[defaults]
# prevents hang waiting for ssh input running locally. In prod should be default 'true'
host_key_checking = False
# automatically detects which Python interpreter to use on the target host, without printing a deprication warning about it
interpreter_python = auto_silent